In [1]:
import urllib.request 
import os

In [8]:
os.getcwd()

'd:\\ml\\adult_census'

In [6]:
urllib.request.urlretrieve('https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.tgz')

('C:\\Users\\nites\\AppData\\Local\\Temp\\tmpvzsqm8nu',
 <http.client.HTTPMessage at 0x29c1df72c18>)

In [4]:
link = urllib.request.urlopen('https://www.kaggle.com/datasets/overload10/adult-census-dataset')

In [5]:
link.read()

b'\r\n\r\n<!DOCTYPE html>\r\n<html lang="en">\r\n\r\n<head>\r\n  <title>adult census dataset | Kaggle</title>\r\n  <meta charset="utf-8" />\r\n    <meta name="robots" content="index, follow" />\r\n  <meta name="description" content="Kaggle is the world&#x2019;s largest data science community with powerful tools and resources to help you achieve your data science goals." />\r\n  <meta name="turbolinks-cache-control" content="no-cache" />\r\n    <meta name="keywords" content="social science" />\r\n    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">\r\n  <meta name="theme-color" content="#008ABC" />\r\n  <script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==" type="text/javascript">\r\n    window["pageRequestStartTime"] = 1667850163978;\r\n    window["pageRequestEndTime"] = 1667850164079;\r\n    window["initialPageLoadStartTime"] = new Date().getTime();\r\n  </script>\r\n  <link rel="preconnect" href="https://www.google-analytics.com" crossorigin="anonymous" /><link rel="preconnect" href="https://stats.g.doubleclick.net" /><link rel="preconnect" href="https://storage.googleapis.com" /><link rel="preconnect" href="https://apis.google.com" />\r\n  <link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />\r\n  <link rel="manifest" href="/static/json/manifest.json" crossorigin="use-credentials">\r\n\r\n\r\n  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />\r\n  <link href="https://fonts.googleapis.com/icon?family=Google+Material+Icons"\r\n    rel="preload" as="style" />\r\n  <link href="https://fonts.googleapis.com/css?family=Inter:400,400i,500,500i,600,600i,700,700i"\r\n    rel="preload" as="style" />\r\n  <link href="https://fonts.googleapis.com/icon?family=Google+Material+Icons"\r\n    rel="stylesheet" media="print" id="async-google-font-1" />\r\n  <link href="https://fonts.googleapis.com/css?family=Inter:400,400i,500,500i,600,600i,700,700i"\r\n    rel="stylesheet" media="print" id="async-google-font-2" />\r\n  <script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==" type="text/javascript">\r\n    const styleSheetIds = ["async-google-font-1", "async-google-font-2"];\r\n    styleSheetIds.forEach(function (id) {\r\n      document.getElementById(id).addEventListener("load", function() {\r\n        this.media = "all";\r\n      });\r\n    });\r\n  </script>\r\n\r\n    <link rel="canonical" href="/datasets/overload10/adult-census-dataset" />\r\n    <link rel="stylesheet" type="text/css" href="/static/assets/vendor.css?v=85d731a494547753f1bf" />\r\n    <link rel="stylesheet" type="text/css" href="/static/assets/app.css?v=8a9781128da31e278b7b" />\r\n  \r\n    \r\n \r\n      <script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==">\r\n        try{(function(a,s,y,n,c,h,i,d,e){d=s.createElement("style");\r\n        d.appendChild(s.createTextNode(""));s.head.appendChild(d);d=d.sheet;\r\n        y=y.map(x => d.insertRule(x + "{ opacity: 0 !important }"));\r\n        h.start=1*new Date;h.end=i=function(){y.forEach(x => x<d.cssRules.length ? d.deleteRule(x) : {})};\r\n        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;\r\n        })(window,document,[\'.site-header-react__nav\'],\'dataLayer\',2000,{\'GTM-52LNT9S\':true});}catch(ex){}\r\n    </script>\r\n    <script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==">\r\n        window.dataLayer = window.dataLayer || [];\r\n        function gtag() { dataLayer.push(arguments); }\r\n        gtag(\'js\', new Date());\r\n        gtag(\'config\', \'UA-12629138-1\', {\r\n            \'optimize_id\': \'GTM-52LNT9S\',\r\n            \'displayFeaturesTask\': null,\r\n            \'send_page_view\': false,\r\n            \'content_group1\': \'Datasets\'\r\n        });\r\n    </script>\r\n    <script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==" async src="https://www.googletagmanager.com/gtag/js?id=UA-12629138-1"></script>\r\n\r\n  \r\n    \r\n    <meta property="og:url" content="/datasets/overload10/adult-census-dataset" />\r\n    <meta property="og:title" content="adult census dataset" />\r\n    <meta property="og:description" content="" />\r\n    <meta property="og:type" content="website" />\r\n    <meta property="og:image" content="https://storage.googleapis.com/kaggle-datasets-images/new-version-temp-images/default-backgrounds-100.png-1601122/dataset-card.png" />\r\n    <meta property="fb:app_id" content="2665027677054710" />\r\n\r\n\r\n    <meta name="twitter:card" content="summary" />\r\n    <meta name="twitter:site" content="@kaggledatasets" />\r\n\r\n\r\n  <meta name="twitter:site" content="@Kaggle" /> \r\n  \r\n    \r\n    <script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==" type="application/ld+json">{"@context":"http://schema.org/","@type":"Dataset","name":"adult census dataset","description":"# Dataset\\nThis dataset was created by Overfitting\\n\\n# Contents\\n","url":"https://www.kaggle.com/overload10/adult-census-dataset","version":1,"keywords":["subject, people and society, social science"],"license":{"@type":"CreativeWork","name":"Unknown","url":""},"identifier":["15442"],"includedInDataCatalog":{"@type":"DataCatalog","name":"Kaggle","url":"https://www.kaggle.com"},"creator":{"@type":"Person","name":"Overfitting","url":"https://www.kaggle.com/overload10","image":"https://storage.googleapis.com/kaggle-avatars/thumbnails/1601122-gp.jpg"},"distribution":[{"@type":"DataDownload","requiresSubscription":true,"encodingFormat":"zip","fileFormat":"zip","contentUrl":"https://www.kaggle.com/datasets/overload10/adult-census-dataset/download?datasetVersionNumber=1","contentSize":"471050 bytes"}],"commentCount":0,"dateModified":"2018-03-08T10:01:49.043Z","discussionUrl":"https://www.kaggle.com/overload10/adult-census-dataset/discussion","alternateName":"","isAccessibleForFree":true,"thumbnailUrl":"https://storage.googleapis.com/kaggle-datasets-images/new-version-temp-images/default-backgrounds-100.png-1601122/dataset-card.png","interactionStatistic":[{"@type":"InteractionCounter","interactionType":"http://schema.org/CommentAction","userInteractionCount":0},{"@type":"InteractionCounter","interactionType":"http://schema.org/DownloadAction","userInteractionCount":1574},{"@type":"InteractionCounter","interactionType":"http://schema.org/ViewAction","userInteractionCount":7043},{"@type":"InteractionCounter","interactionType":"http://schema.org/LikeAction","userInteractionCount":12}]}</script>\r\n\r\n\r\n  \r\n    \r\n\r\n  \r\n    \r\n    \r\n<script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==" type="text/javascript">\r\n    var Kaggle = window.Kaggle || {};\r\n\r\n    Kaggle.Current = {\r\n        antiForgeryToken: \'CfDJ8M8bzImQuQVBugV8xw6Jv2vQeZtMxCzdgT_tU-IRYYDPSBP_EVHoFzBYWN-tP4UlcDX_1g1ZNW6_bavsgSaOAmQ30p5c-RV76YWu0rCizGV4ow\',\r\n        isAnonymous: true,\r\n        analyticsToken: \'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2Njc4NTEwNjQsIlVzZXJJZCI6MH0.CDBahsECEFWm-101TSSgq3Wjd0oE73jjZtm2yYIHLUQ\',\r\n        analyticsTokenExpiry: 15,\r\n        \r\n        \r\n        \r\n        \r\n        \r\n        \r\n        \r\n        \r\n    }\r\n        Kaggle.Current.log = function(){};\r\n        Kaggle.Current.warn = function(){};\r\n\r\n    const decodeUserProperty = function (escapedUserProperty) {\r\n        escapedUserProperty = escapedUserProperty || "";\r\n        try {\r\n            const textVersion = new DOMParser().parseFromString(escapedUserProperty, "text/html").documentElement.textContent;\r\n            if (textVersion) {\r\n                return textVersion;\r\n            }\r\n        } catch(ex) {}\r\n        return escapedUserProperty;\r\n    }\r\n    Kaggle.Current.userDisplayName = decodeUserProperty(Kaggle.Current.userDisplayNameEscaped);\r\n    Kaggle.Current.userEmail = decodeUserProperty(Kaggle.Current.userEmailEscaped); \r\n</script>\r\n\r\n    \r\n\r\n<script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==" type="text/javascript">\r\n    var Kaggle = window.Kaggle || {};\r\n    Kaggle.PageMessages = [];\r\n</script>\r\n\r\n\r\n\r\n    <script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==">window[\'useKaggleAnalytics\'] = true;</script>\r\n\r\n  <script id="gapi-target" nonce="CVBlbKuQ5j7G1hNy0Ae41Q==" src="https://apis.google.com/js/api.js" defer\r\n    async></script>\r\n  <script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==" src="/static/assets/runtime.js?v=93d74bd94ef127e82591" data-turbolinks-track="reload"></script>\r\n  <script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==" src="/static/assets/vendor.js?v=7357fda0a7a62b62514d" data-turbolinks-track="reload"></script>\r\n  <script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==" src="/static/assets/app.js?v=5ced150f3f1f1bf4fd17" data-turbolinks-track="reload"></script>\r\n    <script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==" type="text/javascript">\r\n      window.kaggleStackdriverConfig = {\r\n        key: \'AIzaSyA4eNqUdRRskJsCZWVz-qL655Xa5JEMreE\',\r\n        projectId: \'kaggle-161607\',\r\n        service: \'web-fe\',\r\n        version: \'ci\',\r\n        userId: \'0\'\r\n      }\r\n    </script>\r\n</head>\r\n\r\n<body data-turbolinks="false">\r\n  <main>\r\n    \r\n\r\n\r\n\r\n\r\n\r\n\r\n<div id="site-container"></div>\r\n<div data-component-name="NavigationContainer" style="display: flex; flex-direction: column; flex: 1 0 auto;"></div><script class="kaggle-component" nonce="CVBlbKuQ5j7G1hNy0Ae41Q==">var Kaggle=window.Kaggle||{};Kaggle.State=Kaggle.State||[];Kaggle.State.push({"navigationType":"BOTH_NAV"});performance && performance.mark && performance.mark("NavigationContainer.componentCouldBootstrap");</script>\r\n<div id="site-body" class="hide">\r\n    \r\n\r\n<div data-component-name="DatasetMaterialContainer" style="display: flex; flex-direction: column; flex: 1 0 auto;"></div><script class="kaggle-component" nonce="CVBlbKuQ5j7G1hNy0Ae41Q==">var Kaggle=window.Kaggle||{};Kaggle.State=Kaggle.State||[];Kaggle.State.push({"basics":{"datasetId":15442,"slug":"adult-census-dataset","title":"adult census dataset","viewCount":7043,"downloadCount":1574,"scriptCount":5,"owner":{"id":1601122,"imageUrl":"https://storage.googleapis.com/kaggle-avatars/thumbnails/1601122-gp.jpg","name":"Overfitting","profileUrl":"/overload10","slug":"overload10","userTier":"CONTRIBUTOR"},"license":{"id":4,"name":"Unknown"},"collaboratorList":{"owner":{"userId":1601122,"profileUrl":"/overload10","thumbnailUrl":"https://storage.googleapis.com/kaggle-avatars/thumbnails/1601122-gp.jpg","name":"Overfitting","slug":"overload10","userTier":"CONTRIBUTOR","type":"OWNER"}},"coverImageUrl":"https://storage.googleapis.com/kaggle-datasets-images/new-version-temp-images/default-backgrounds-100.png-1601122/dataset-cover.png","data":{"totalSize":471050,"isFileset":true,"canDownload":true,"firestorePath":"IDsW2vUX6ZkbqKESoH70/versions/tOHHxMCZtzv31uI990ct","downloadUrl":"/datasets/overload10/overload10/download?datasetVersionNumber=1","versionId":20518,"id":15442},"voteCount":12,"downloadUrl":"/datasets/overload10/adult-census-dataset/download?datasetVersionNumber=1","lastUpdateTime":"2018-03-08T10:01:49.043Z","datasetVersionNumber":1,"creatorDisplayName":"Overfitting","cardImageUrl":"https://storage.googleapis.com/kaggle-datasets-images/new-version-temp-images/default-backgrounds-100.png-1601122/dataset-card.png","categories":{"tags":[{"id":11200,"name":"social science","fullPath":"subject \\u003E people and society \\u003E social science","listingUrl":"/datasets?group=public\\u0026tagids=11200","description":"Social science is the collection of disciplines studying how humans interact with each other.","datasetCount":4504,"notebookCount":735,"tagUrl":"/tags/social-sciences","displayName":"Social Science"}]},"datasetExternalUrl":"https://www.kaggle.com/datasets/overload10/adult-census-dataset","forumId":23064,"datasetVersionId":20518,"canCreateTasks":true,"moderationStatus":"PRIVATED_MODERATION_STATUS_NO_ABUSE","lastVersionNumber":1,"diffType":"VERSIONED"},"@wf": "Datasets.DatasetMaterialDtoWireFormat3"});performance && performance.mark && performance.mark("DatasetMaterialContainer.componentCouldBootstrap");</script><script nonce="CVBlbKuQ5j7G1hNy0Ae41Q==" type="text/x-mathjax-config">\r\n    MathJax.Hub.Config({\r\n    "HTML-CSS": {\r\n    preferredFont: "TeX",\r\n    availableFonts: ["STIX", "TeX"],\r\n    linebreaks: {\r\n    automatic: true\r\n    },\r\n    EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50)\r\n    },\r\n    tex2jax: {\r\n    inlineMath: [["\\\\(", "\\\\)"], ["\\\\\\\\(", "\\\\\\\\)"]],\r\n    displayMath: [["$$", "$$"], ["\\\\[", "\\\\]"]],\r\n    processEscapes: true,\r\n    ignoreClass: "tex2jax_ignore|dno"\r\n    },\r\n    TeX: {\r\n    noUndefined: {\r\n    attributes: {\r\n    mathcolor: "red",\r\n    mathbackground: "#FFEEEE",\r\n    mathsize: "90%"\r\n    }\r\n    }\r\n    },\r\n    Macros: {\r\n    href: "{}"\r\n    },\r\n    skipStartupTypeset: true,\r\n    messageStyle: "none",\r\n    extensions: ["Safe.js"],\r\n    });\r\n</script>\r\n<script type="text/javascript" nonce="CVBlbKuQ5j7G1hNy0Ae41Q==">\r\n  window.addEventListener("DOMContentLoaded", () => {\r\n    const head = document.getElementsByTagName("head")[0];\r\n    const useProdHosts = ["www.kaggle.com", "admin.kaggle.com"];\r\n    const subdomain = useProdHosts.includes(window.location.hostname) ? "www" : "staging";\r\n\r\n    const lib = document.createElement("script");\r\n    lib.type = "text/javascript";\r\n    lib.src = `https://${subdomain}.kaggleusercontent.com/static/mathjax/2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML`;\r\n    head.appendChild(lib);\r\n  });\r\n</script>\r\n\r\n\r\n\r\n\r\n\r\n</div>\r\n\r\n\r\n\r\n\r\n  </main>\r\n</body>\r\n\r\n</html>\r\n'

In [1]:
dataset_download_url= 'https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.tgz'

In [2]:
os.path.basename(dataset_download_url)

'housing.tgz'

In [3]:
os.path.basename('overload10/adult-census-dataset')

'adult-census-dataset'

In [2]:
os.makedirs('test')

In [3]:
os.getcwd()

'd:\\ml\\adult_census'

In [5]:
from census.constant import ROOT_DIR

In [7]:
import tarfile

In [8]:
import pandas as pd

In [10]:
df = pd.read_csv('adult.csv')

In [13]:
x = df.drop(columns='salary')
y = df['salary']

In [20]:
from sklearn.model_selection import StratifiedShuffleSplit

In [22]:
split = StratifiedShuffleSplit(n_splits=1,test_size=0.3, random_state=42)

for train_index , test_index in split.split(x,y):
    train = df.iloc[train_index].drop(['salary'],axis=1)
    test = df.iloc[test_index].drop(['salary'],axis=1)

In [23]:
train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country
24029,43,Self-emp-not-inc,96129,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,60,United-States
8788,18,?,276864,Some-college,10,Never-married,?,Own-child,White,Female,0,1602,20,United-States
15564,34,Private,200192,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States
9585,17,Private,156736,10th,6,Never-married,Sales,Unmarried,White,Female,0,0,12,United-States
7377,41,Private,179580,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,0,36,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28631,40,Private,400061,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Other,Male,0,0,40,United-States
20560,39,Private,421633,Some-college,10,Divorced,Protective-serv,Unmarried,Black,Female,0,0,30,United-States
23650,55,Private,82098,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,55,United-States
25301,26,Private,50053,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,55,United-States
5800,19,Private,415354,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States

In [24]:
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country
5794,51,Private,163052,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
26705,21,Private,34816,Assoc-voc,11,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,12,United-States
3474,43,Local-gov,108945,Bachelors,13,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States
31797,36,Private,218015,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States
26674,42,Private,121055,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23622,40,Private,200496,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,0,40,United-States
11796,62,Private,136314,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States
13863,49,Self-emp-not-inc,275845,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States
28801,45,Private,126889,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,1887,60,United-States
2438,20,Private,100188,Some-college,10,Never-married,Tech-support,Own-child,White,Female,0,0,24,United-States

In [4]:
from census.config.configuration import configration

In [12]:
data_ingestion = configration().get_data_ingestion_config()

classificationException: Error occured in script: [d:\ml\adult_census\census\config\configuration.py] at line number: [34] error message: ['adult.csv']

In [11]:
data_ingestion

In [19]:
root_dir = os.getcwd()
file = os.path.join(root_dir,'config','yaml_config.yaml')

In [104]:
ROOT_DIR

'd:\\ml\\adult_census'

In [20]:
file

'd:\\ml\\adult_census\\config\\yaml_config.yaml'

In [30]:
from census.util.util import read_yaml_file
from census.constant import *

In [39]:
yaml_obj = read_yaml_file(CONFIG_FILE_PATH)

In [41]:
yaml_obj[CONFIG_FILE_NAME]

KeyError: 'config.yaml'

In [42]:
CONFIG_FILE_NAME

'config.yaml'

In [37]:
DATA_INGESTION_ARTIFACT_DIR

'data_ingestion'

In [1]:
from census.constant import *

In [38]:
CONFIG_FILE_PATH

'd:\\ml\\adult_census\\yaml_config\\config.yaml'

'd:\\ml\\adult_census\\yaml_config\\config.yaml'

In [1]:
from census.config.configuration import configration
from census.constant import *

In [2]:
config = configration()

In [3]:
config.get_training_pipeline_config()

trainingpipelineconfig(artifact_dir='d:\\ml\\adult_census\\census\\artifact')

In [4]:
config.get_data_ingestion_config()

dataingestionconfig(dataset_download_url='overload10/adult-census-dataset', dataset_file_name='adult.csv', raw_data_dir='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-00-09-44\\raw_data', tgz_download_dir='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-00-09-44\\tgz_data', ingested_dir='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-00-09-44\\ingested_data', ingested_train_dir='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-00-09-44\\ingested_data\\train', ingested_test_dir='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-00-09-44\\ingested_data\\test')

In [5]:
DATASET_FILE_NAME_KEY

'dataset_file_name'

In [7]:
from census.pipeline.pipeline import Pipeline

In [8]:
pip = Pipeline()

In [10]:
pip.run_pipeline()

classificationException: Error occured in script: [d:\ml\adult_census\census\pipeline\pipeline.py] at line number: [32] error message: [Error occured in script: [d:\ml\adult_census\census\pipeline\pipeline.py] at line number: [21] error message: ['Pipeline' object has no attribute 'config']]

In [1]:
from census.config.configuration import configration

In [2]:
config = configration()

In [3]:
config.get_data_ingestion_config()

dataingestionconfig(dataset_download_url='overload10/adult-census-dataset', dataset_file_name='adult.csv', raw_data_dir='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-14-34-47\\raw_data', tgz_download_dir='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-14-34-47\\tgz_data', ingested_dir='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-14-34-47\\ingested_data', ingested_train_dir='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-14-34-47\\ingested_data\\train', ingested_test_dir='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-14-34-47\\ingested_data\\test')

In [5]:
config.get_training_pipeline_config()

trainingpipelineconfig(artifact_dir='d:\\ml\\adult_census\\census\\artifact')

In [6]:
import os

In [7]:
os.getcwd()

'd:\\ml\\adult_census'

In [9]:
'D:\\ml\\adult_census\\census'

'D:\\ml\\adult_census\\census'

In [1]:
from census.constant import *

In [2]:
ROOT_DIR

'D:\\ml\\adult_census'

In [3]:
CONFIG_FILE_PATH

'D:\\ml\\adult_census\\yaml_config\\config.yaml'

In [1]:
from census.components.data_ingestion import DataIngestion
from census.config.configuration import configration

In [2]:
config = configration()

In [3]:
ingestion = DataIngestion(config.get_data_ingestion_config())

In [4]:
ingestion.initiate_data_ingestion()

DataIngestArtifact(train_file_path='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-16-24-51\\ingested_data\\train\\adult.csv', test_file_path='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-16-24-51\\ingested_data\\test\\adult.csv', message='data ingestion completed sucessfully.')

In [4]:
ingestion.download_dataset()

'D:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-15-31-10\\tgz_data'

In [11]:
path = "D:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-16-03-57\\tgz_data"

In [8]:
import zipfile

In [12]:
with zipfile.ZipFile(path) as file_obj:
    file_obj.extractall('D:\\ml')

In [5]:
import os

In [1]:
from census.pipeline.pipeline import Pipeline
from census.config.configuration import configration

In [2]:
line = Pipeline()

In [3]:
line.run_pipeline()

In [3]:
line.start_data_ingestion()

DataIngestArtifact(train_file_path='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-16-27-15\\ingested_data\\train\\adult.csv', test_file_path='d:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-16-27-15\\ingested_data\\test\\adult.csv', message='data ingestion completed sucessfully.')

In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('adult.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  country         32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [1]:
from census.config.configuration import configration

In [2]:
config = configration()

In [3]:
config.get_data_validation_config()

datavalidationconfig(schema_file_path='d:\\ml\\adult_census\\yaml_config\\schema.yaml', report_file_path='d:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-10-23-28-34\\data_drift_report', valid_data_dir='d:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-10-23-28-34\\valid_data', vaild_train_dir='d:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-10-23-28-34\\valid_data\\train', valid_test_dir='d:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-10-23-28-34\\valid_data\\test')

In [1]:
import os

In [2]:
path = 'D:\\ml\\adult_census\\adult.csv'

In [3]:
os.path.exists(path)

True

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(path)
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'],
      dtype='object')

In [6]:
data = pd.DataFrame(df[['age','workclass','education','occupation','sex','hours-per-week','country']])
data

,age,workclass,education,occupation,sex,hours-per-week,country
0,39,State-gov,Bachelors,Adm-clerical,Male,40,United-States
1,50,Self-emp-not-inc,Bachelors,Exec-managerial,Male,13,United-States
2,38,Private,HS-grad,Handlers-cleaners,Male,40,United-States
3,53,Private,11th,Handlers-cleaners,Male,40,United-States
4,28,Private,Bachelors,Prof-specialty,Female,40,Cuba
...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,Tech-support,Female,38,United-States
32557,40,Private,HS-grad,Machine-op-inspct,Male,40,United-States
32558,58,Private,HS-grad,Adm-clerical,Female,40,United-States
32559,22,Private,HS-grad,Adm-clerical,Male,20,United-States
32560,52,Self-emp-inc,HS-grad,Exec-managerial,Female,40,United-States

In [7]:
for i in data.dtypes:
    print(i)

int64
object
object
object
object
int64
object

In [8]:
cat = [features for features in data if data[features].dtype == 'O']
numerical = [features for features in data if data[features].dtype != 'O']

In [9]:
cat, numerical

(['workclass', 'education', 'occupation', 'sex', 'country'],
 ['age', 'hours-per-week'])

In [4]:
from census.util.util import read_yaml_file

In [5]:
schema = read_yaml_file('D:\\ml\\adult_census\\yaml_config\\schema.yaml')

In [12]:
schema['numerical_columns'] == numerical

True

In [15]:
schema['categorical_columns'] == cat

True

In [14]:
cat

['workclass', 'education', 'occupation', 'sex', 'country']

In [21]:
for i in schema['categorical_columns']:
    for j in cat:
        if i == j:
            print(i,j,'yes')

workclass workclass yes
education education yes
occupation occupation yes
sex sex yes

In [1]:
import pandas as pd
import numpy as np
from census.util.util import read_yaml_file

In [2]:
schema = read_yaml_file('D:\\ml\\adult_census\\yaml_config\\schema.yaml')

In [3]:
schema['columns']

['age',
 'workclass',
 'education',
 'occupation',
 'sex',
 'hours-per-week',
 'country']

In [8]:
train_data = pd.read_csv('D:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-16-29-38\\ingested_data\\train\\adult.csv')
test_data = pd.read_csv('D:\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-09-16-29-38\\ingested_data\\test\\adult.csv')

valid_train_data = pd.DataFrame(train_data[list(schema['columns'])])
valid_test_data = pd.DataFrame(test_data[list(schema['columns'])])

In [9]:
valid_train_data

,age,workclass,education,occupation,sex,hours-per-week,country
0,43,Self-emp-not-inc,11th,Handlers-cleaners,Male,60,United-States
1,18,?,Some-college,?,Female,20,United-States
2,34,Private,Some-college,Other-service,Female,40,United-States
3,17,Private,10th,Sales,Female,12,United-States
4,41,Private,Some-college,Other-service,Female,36,United-States
...,...,...,...,...,...,...,...
22787,40,Private,Some-college,Machine-op-inspct,Male,40,United-States
22788,39,Private,Some-college,Protective-serv,Female,30,United-States
22789,55,Private,HS-grad,Exec-managerial,Male,55,United-States
22790,26,Private,Bachelors,Exec-managerial,Male,55,United-States
22791,19,Private,10th,Other-service,Female,40,United-States

In [14]:
[schema['columns'].keys()][0]

dict_keys(['age', 'workclass', 'education', 'occupation', 'sex', 'hours-per-week', 'contry'])

In [1]:
from census.pipeline.pipeline import Pipeline

In [2]:
line = Pipeline()

In [3]:
line.start_data_validation()

DataValidationArtifact(schema_file_path='d:\\ml\\adult_census\\yaml_config\\schema.yaml', report_file_path='d:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-11-02-03-30\\data_drift_report.html', valid_train_dir='d:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-11-02-03-30\\valid_data\\train', valid_test_dir='d:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-11-02-03-30\\valid_data\\test', message='Data validation perform sucessfully.')

In [1]:
from census.config.configuration import configration

In [2]:
config = configration()

In [3]:
config.get_data_transformation_config()

datatransformationconfig(transformed_train_dir='d:\\ml\\adult_census\\census\\artifact\\data_transformation\\2022-11-15-00-47-27\\transformed_data\\train', transformed_test_dir='d:\\ml\\adult_census\\census\\artifact\\data_transformation\\2022-11-15-00-47-27\\transformed_data\\test', preprocessing_object_file_path='d:\\ml\\adult_census\\census\\artifact\\data_transformation\\2022-11-15-00-47-27\\preprocessed\\preprocessed.pkl')

In [10]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [98]:
df = pd.read_csv('D:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-11-02-13-40\\valid_data\\train\\valid_data.csv')
df

,age,workclass,education,occupation,sex,hours-per-week,country
0,43,Self-emp-not-inc,11th,Handlers-cleaners,Male,60,United-States
1,18,?,Some-college,?,Female,20,United-States
2,34,Private,Some-college,Other-service,Female,40,United-States
3,17,Private,10th,Sales,Female,12,United-States
4,41,Private,Some-college,Other-service,Female,36,United-States
...,...,...,...,...,...,...,...
22787,40,Private,Some-college,Machine-op-inspct,Male,40,United-States
22788,39,Private,Some-college,Protective-serv,Female,30,United-States
22789,55,Private,HS-grad,Exec-managerial,Male,55,United-States
22790,26,Private,Bachelors,Exec-managerial,Male,55,United-States
22791,19,Private,10th,Other-service,Female,40,United-States

In [14]:
numerical_columns = ['age','hours-per-week']
categorical_columns = ['workclass','education','occupation','sex','country']

In [15]:
num_pipeline = Pipeline(steps=[
                ('imputer', SimpleImputer(strategy="median")),
                ('scaler',StandardScaler())
            ])

In [16]:
cat_pipeline =  Pipeline(steps=[
                ('imputer', SimpleImputer(strategy="most_frequent")),
                ('one_hot_encoder', OneHotEncoder()),
                ('scaline',StandardScaler(with_mean=False))
                ])

In [96]:
preprocess = ColumnTransformer(transformers=[
    ('num_pipeline',num_pipeline,numerical_columns),
    ('cat_pipeline',cat_pipeline,categorical_columns),
])

In [18]:
preprocess

ColumnTransformer(transformers=[('num_pipeline',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='median')),
                                                 ('scaler', StandardScaler())]),
                                 ['age', 'hours-per-week']),
                                ('cat_pipeline',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('one_hot_encoder',
                                                  OneHotEncoder()),
                                                 ('scaline',
                                                  StandardScaler(with_mean=False))]),
                                 ['workclass', 'education', 'occupation', 'sex',
                                  'country'])])

In [99]:
transformed_data = preprocess.fit_transform(df)

In [102]:
np.c_[transformed_data.toarray(),target]

array([[ 0.32399625,  1.57293386,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-1.51002979, -1.64849438,  4.35147491, ...,  0.        ,
         0.        ,  0.        ],
       [-0.33625313, -0.03778026,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 1.20432874,  1.17025533,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.92314146,  1.17025533,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-1.43666875, -0.03778026,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [23]:
arr = np.c_[transformed_data]

In [24]:
arr

array([[<22792x86 sparse matrix of type '<class 'numpy.float64'>'
        	with 159544 stored elements in Compressed Sparse Row format>]],
      dtype=object)

In [25]:
path = "D:\\ml\\New folder\\machine_learning_project\\housing\\artifact\\data_transformation\\2022-08-27-00-26-45\\transformed_data\\test\\housing.npz"

In [28]:
pd.read_csv('D:\\ml\\adult_census\\census\\artifact\\data_ingestion\\2022-11-11-02-13-40\\ingested_data\\train\\adult.csv')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country
0,43,Self-emp-not-inc,96129,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,60,United-States
1,18,?,276864,Some-college,10,Never-married,?,Own-child,White,Female,0,1602,20,United-States
2,34,Private,200192,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States
3,17,Private,156736,10th,6,Never-married,Sales,Unmarried,White,Female,0,0,12,United-States
4,41,Private,179580,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,0,36,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22787,40,Private,400061,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Other,Male,0,0,40,United-States
22788,39,Private,421633,Some-college,10,Divorced,Protective-serv,Unmarried,Black,Female,0,0,30,United-States
22789,55,Private,82098,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,55,United-States
22790,26,Private,50053,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,55,United-States
22791,19,Private,415354,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('D:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-15-13-53-59\\valid_data\\train\\valid_data.csv')

In [5]:
df['salary'].value_counts()

 <=50K    17303
 >50K      5489
Name: salary, dtype: int64

In [4]:
df['salary'] = df['salary'].map({' <=50K':0, ' >50K':1})

In [5]:
df

,age,workclass,education,occupation,sex,hours-per-week,country,salary
0,43,Self-emp-not-inc,11th,Handlers-cleaners,Male,60,United-States,0
1,18,?,Some-college,?,Female,20,United-States,0
2,34,Private,Some-college,Other-service,Female,40,United-States,0
3,17,Private,10th,Sales,Female,12,United-States,0
4,41,Private,Some-college,Other-service,Female,36,United-States,1
...,...,...,...,...,...,...,...,...
22787,40,Private,Some-college,Machine-op-inspct,Male,40,United-States,1
22788,39,Private,Some-college,Protective-serv,Female,30,United-States,0
22789,55,Private,HS-grad,Exec-managerial,Male,55,United-States,0
22790,26,Private,Bachelors,Exec-managerial,Male,55,United-States,0
22791,19,Private,10th,Other-service,Female,40,United-States,0

In [6]:
np.array(df['salary'])

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [17]:
df['salary']

0        0
1        0
2        0
3        0
4        1
        ..
22787    1
22788    0
22789    0
22790    0
22791    0
Name: salary, Length: 22792, dtype: int64

In [7]:
data = df.drop(columns='salary')
data

,age,workclass,education,occupation,sex,hours-per-week,country
0,43,Self-emp-not-inc,11th,Handlers-cleaners,Male,60,United-States
1,18,?,Some-college,?,Female,20,United-States
2,34,Private,Some-college,Other-service,Female,40,United-States
3,17,Private,10th,Sales,Female,12,United-States
4,41,Private,Some-college,Other-service,Female,36,United-States
...,...,...,...,...,...,...,...
22787,40,Private,Some-college,Machine-op-inspct,Male,40,United-States
22788,39,Private,Some-college,Protective-serv,Female,30,United-States
22789,55,Private,HS-grad,Exec-managerial,Male,55,United-States
22790,26,Private,Bachelors,Exec-managerial,Male,55,United-States
22791,19,Private,10th,Other-service,Female,40,United-States

In [8]:
numerical_columns = ['age','hours-per-week']
categorical_columns = ['workclass','education','occupation','sex','country']

In [11]:
num_pipeline = Pipeline(steps=[
                ('imputer', SimpleImputer(strategy="median")),
                ('scaler',StandardScaler())
            ])

cat_pipeline =  Pipeline(steps=[
                ('imputer', SimpleImputer(strategy="most_frequent")),
                ('one_hot_encoder', OneHotEncoder()),
                ('scaline',StandardScaler(with_mean=False))
                ])

preprocess = ColumnTransformer(transformers=[
    ('num_pipeline',num_pipeline,numerical_columns),
    ('cat_pipeline',cat_pipeline,categorical_columns)
])

In [12]:
transformed_data = preprocess.fit_transform(data)

In [13]:
transformed_data

<22792x86 sparse matrix of type '<class 'numpy.float64'>'
	with 159544 stored elements in Compressed Sparse Row format>

In [15]:
target = np.array(df['salary'])
len(target)

22792

In [50]:
arr = np.c_[transformed_data,target]

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 1 and the array at index 1 has size 22792

In [33]:
transformed_data.shape

(22792, 86)

In [37]:
arr = np.concatenate(transformed_data, target[:,None])

TypeError: only integer scalar arrays can be converted to a scalar index

In [39]:
path = 'D:\\ml\\New folder\\machine_learning_project\\housing\\artifact\\data_transformation\\2022-08-27-14-03-52\\transformed_data\\train\\housing.npz'

In [48]:
np.load(path).shape

(16512, 17)

In [16]:
arr = np.hstack((transformed_data, target))

In [19]:
from census.util.util import save_numpy_array_data
import os

In [22]:
path = os.getcwd()
path

'd:\\ml\\adult_census'

In [25]:
save_numpy_array_data(file_path='D:\\ml\\adult_census\\array.npz', array=arr)

In [38]:
np.load('D:\\ml\\adult_census\\array.npz',allow_pickle=True)

array([<22792x86 sparse matrix of type '<class 'numpy.float64'>'
       	with 159544 stored elements in Compressed Sparse Row format>, 0,
       0, ..., 0, 0, 0], dtype=object)

In [39]:
import pickle

In [41]:
model = pickle.load(open('D:\\ml\\adult_census\\classification model.pkl','rb'))

d:\ml\adult_census\venv\lib\site-packages\sklearn\base.py:338: UserWarning: Trying to unpickle estimator LogisticRegression from version 0.24.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,
d:\ml\adult_census\venv\lib\site-packages\sklearn\base.py:338: UserWarning: Trying to unpickle estimator GridSearchCV from version 0.24.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,

In [42]:
model.predict(transformed_data)

ValueError: X has 86 features, but LogisticRegression is expecting 85 features as input.

In [46]:
np.concatenate((transformed_data,target),axis=1)

ValueError: zero-dimensional arrays cannot be concatenated

In [49]:
target.shape

(22792,)

In [51]:
transformed_data.shape

(22792, 86)

In [55]:
np.vstack((transformed_data, target))

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 1 and the array at index 1 has size 22792

In [70]:
from scipy.sparse import hstack

In [72]:
arr = hstack((transformed_data,target[None,:]))

ValueError: blocks[0,:] has incompatible row dimensions. Got blocks[0,1].shape[0] == 1, expected 22792.

In [65]:
arr

array([<22792x86 sparse matrix of type '<class 'numpy.float64'>'
       	with 159544 stored elements in Compressed Sparse Row format>, 0,
       0, ..., 0, 0, 0], dtype=object)

In [68]:
np.load('D:\\ml\\adult_census\\array.npz',allow_pickle=True)

array([<22792x86 sparse matrix of type '<class 'numpy.float64'>'
       	with 159544 stored elements in Compressed Sparse Row format>, 0,
       0, ..., 0, 0, 0], dtype=object)

In [74]:
arr = np.c_[transformed_data,target[None,:]]

In [75]:
save_numpy_array_data(file_path='D:\\ml\\adult_census\\array.npz',array=arr)

In [77]:
np.load('D:\\ml\\adult_census\\array.npz',allow_pickle=True)

array([[<22792x86 sparse matrix of type '<class 'numpy.float64'>'
        	with 159544 stored elements in Compressed Sparse Row format>, 0,
        0, ..., 0, 0, 0]], dtype=object)

In [79]:
model.predict()

ValueError: setting an array element with a sequence.

In [80]:
target[None,:]

array([[0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [82]:
target

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [85]:
df = pd.DataFrame.sparse.from_spmatrix(transformed_data)

In [88]:
df['salary'] = target

In [89]:
df

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,salary
0,0.323996,1.572934,0.000000,0.0,0.0,0.0,0.0000,0.0,3.722997,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.265788,0.0,0.0,0
1,-1.510030,-1.648494,4.351475,0.0,0.0,0.0,0.0000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.265788,0.0,0.0,0
2,-0.336253,-0.037780,0.000000,0.0,0.0,0.0,2.1716,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.265788,0.0,0.0,0
3,-1.583391,-2.292780,0.000000,0.0,0.0,0.0,2.1716,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.265788,0.0,0.0,0
4,0.177274,-0.359923,0.000000,0.0,0.0,0.0,2.1716,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.265788,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22787,0.103913,-0.037780,0.000000,0.0,0.0,0.0,2.1716,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.265788,0.0,0.0,1
22788,0.030552,-0.843137,0.000000,0.0,0.0,0.0,2.1716,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.265788,0.0,0.0,0
22789,1.204329,1.170255,0.000000,0.0,0.0,0.0,2.1716,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.265788,0.0,0.0,0
22790,-0.923141,1.170255,0.000000,0.0,0.0,0.0,2.1716,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.265788,0.0,0.0,0
22791,-1.436669,-0.037780,0.000000,0.0,0.0,0.0,2.1716,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.265788,0.0,0.0,0

In [90]:
model.predict(df)

d:\ml\adult_census\venv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

AttributeError: 'PandasArray' object has no attribute 'sp_index'

In [93]:
arr = np.load("D:\\ml\\New folder\\machine_learning_project\\housing\\artifact\\data_transformation\\2022-08-27-14-03-52\\transformed_data\\train\\housing.npz")

In [94]:
pd.DataFrame(arr)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,-0.941350,1.347438,0.027564,0.584777,0.640371,0.732602,0.556286,-0.893647,0.017395,0.006223,-0.121122,0.000000,2.14609,0.0,0.0,0.00000,72100.0
1,1.171782,-1.192440,-1.722018,1.261467,0.781561,0.533612,0.721318,1.292168,0.569256,-0.040811,-0.810867,0.000000,0.00000,0.0,0.0,2.98691,279600.0
2,0.267581,-0.125972,1.220460,-0.469773,-0.545138,-0.674675,-0.524407,-0.525434,-0.018024,-0.075371,-0.338273,0.000000,2.14609,0.0,0.0,0.00000,82700.0
3,1.221738,-1.351474,-0.370069,-0.348652,-0.036367,-0.467617,-0.037297,-0.865929,-0.595140,-0.106803,0.961205,0.000000,0.00000,0.0,0.0,2.98691,112500.0
4,0.437431,-0.635818,-0.131489,0.427179,0.272790,0.374060,0.220898,0.325752,0.251241,0.006109,-0.474513,2.014211,0.00000,0.0,0.0,0.00000,238300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16507,1.251711,-1.220505,-1.165333,1.890456,1.696862,0.543471,1.341519,0.637374,0.466353,-0.092580,-0.443846,2.014211,0.00000,0.0,0.0,0.00000,268500.0
16508,-0.921368,1.342761,-1.085806,2.468471,2.161816,3.002174,2.451492,-0.557509,0.050362,0.023024,-0.516065,0.000000,2.14609,0.0,0.0,0.00000,90400.0
16509,-1.570794,1.310018,1.538566,-0.895802,-0.895679,-0.862013,-0.865118,-0.365475,-0.509240,-0.037436,0.322869,2.014211,0.00000,0.0,0.0,0.00000,140400.0
16510,-1.560803,1.249211,-1.165333,0.249005,0.112126,-0.189747,0.010616,0.168261,0.328149,-0.059156,-0.457023,2.014211,0.00000,0.0,0.0,0.00000,258100.0
16511,-1.281050,2.025674,-0.131489,-0.721836,-0.759358,-0.712322,-0.798573,-0.390569,0.014072,0.006571,-0.121697,0.000000,2.14609,0.0,0.0,0.00000,62700.0

In [1]:
from census.config.configuration import configration

In [2]:
config = configration()

In [3]:
config.get_model_trainer_config()

modelTrainerconfig(trained_model_file_path='d:\\ml\\adult_census\\census\\artifact\\model_training\\2022-11-16-23-59-24\\trained_model\\model.pkl', base_accuracy=0.7, model_config_file_path='yaml_config\\model.yaml')

In [1]:
from census.util.util import read_yaml_file

In [55]:
model_yaml = read_yaml_file('yaml_config\\model.yaml')
model_yaml

{'model': {'class': 'LogisticRegression',
  'module': 'sklearn.linear_model',
  'params': {'max_iter': 300, 'penalty': 'l2', 'solver': 'sag'}}}

In [8]:
model_yaml['model']['module'] , model_yaml['model']['class']

('sklearn.linear_model', 'LogisticRegression')

In [62]:
param = model_yaml['model']['params']
param['penalty']

'l2'

In [9]:
from pyexpat import model

In [10]:
import importlib

In [12]:
module = importlib.import_module(model_yaml['model']['module'])

In [14]:
class_ref = getattr(module, model_yaml['model']['class'])

In [30]:
def model (module_name:str, class_name:str):
        try:
            # load the module, will raise ImportError if module cannot be loaded
            module = importlib.import_module(module_name)
            # get the class, will raise AttributeError if class cannot be found
            #lg.info(f"Executing command: from {module} import {class_name}")
            class_ref = getattr(module, class_name)
            return class_ref
        except Exception as e:
            pass

In [31]:
clf = model(module_name=model_yaml['model']['module'],class_name=model_yaml['model']['class'])

In [1]:
path = 'D:\\ml\\adult_census\\census\\artifact\\data_transformation\\2022-11-15-19-05-14\\transformed_data\\train\\valid_data.npz'

In [2]:
import numpy as np

In [3]:
train_arr = np.load(path)

In [4]:
x_train = train_arr[:,:-1]

In [5]:
y_train = train_arr[:,-1]

In [41]:
a = clf(max_iter=300)

In [42]:
a.fit(x_train, y_train)

LogisticRegression(max_iter=300)

In [50]:
a.score(x_train, y_train)

0.8147156897156898

In [3]:
path = 'D:\\ml\\adult_census\\census\\artifact\\data_transformation\\2022-11-15-19-05-14\\transformed_data\\train\\valid_data.npz'
import numpy as np
train_arr = np.load(path)
x_train = train_arr[:,:-1]
y_train = train_arr[:,-1]

In [12]:
from census.entity.model_factory import Model_training
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [5]:
training = Model_training(model_config_path='yaml_config\\model.yaml')

In [7]:
trained_model = training.trained_model(input_features=x_train,output_fetures=y_train)

In [8]:
trained_model.score(x_train, y_train)

0.8147156897156898

In [14]:
path = "D:\\ml\\adult_census\\census\\artifact\\data_transformation\\2022-11-15-19-01-34\\transformed_data\\test\\valid_data.npz"

import numpy as np
test_arr = np.load(path)
x_test = test_arr[:,:-1]
y_test = test_arr[:,-1]


y_pred = trained_model.predict(x_test)
print(y_pred)
trained_model.score(x_test, y_test)
print(classification_report(y_test, y_pred))
print(accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

[0. 0. 0. ... 1. 1. 0.]
              precision    recall  f1-score   support

         0.0       0.84      0.93      0.88      7417
         1.0       0.66      0.42      0.51      2352

    accuracy                           0.81      9769
   macro avg       0.75      0.68      0.70      9769
weighted avg       0.79      0.81      0.79      9769

0.808475790766711
[[6907  510]
 [1361  991]]

In [8]:
from sklearn.linear_model import LogisticRegression

In [22]:
lg = LogisticRegression(max_iter = 4000,solver='sag',penalty='l2',random_state=42)

In [13]:
lg.fit(x_train, y_train)

d:\ml\adult_census\venv\lib\site-packages\sklearn\linear_model\_sag.py:354: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  ConvergenceWarning,

LogisticRegression(random_state=42, solver='sag')

In [1]:
#D:\ml\adult_census\census\artifact\data_transformation\2022-11-15-19-01-34\transformed_data\train\valid_data.npz

path = "D:\\ml\\adult_census\\census\\artifact\\data_transformation\\2022-11-15-19-01-34\\transformed_data\\train\\valid_data.npz"

import numpy as np
train_arr = np.load(path)
x_train = train_arr[:,:-1]
y_train = train_arr[:,-1]

In [2]:
lg.fit(x_train, y_train)

NameError: name 'lg' is not defined

In [26]:
lg.score(x_train, y_train)

0.8147156897156898

In [27]:
path = "D:\\ml\\adult_census\\census\\artifact\\data_transformation\\2022-11-15-19-01-34\\transformed_data\\test\\valid_data.npz"

import numpy as np
test_arr = np.load(path)
x_test = test_arr[:,:-1]
y_test = test_arr[:,-1]

In [28]:
lg.score(x_test, y_test)

0.808475790766711

In [34]:
import pickle
import pandas as pd
import numpy as np
preprocessed_obj = pickle.load(open('D:\\ml\\adult_census\\census\\artifact\\data_transformation\\2022-11-15-19-05-14\\preprocessed\\preprocessed.pkl','rb'))

data = pd.read_csv('D:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-15-19-05-14\\valid_data\\test\\valid_data.csv')
target = data['salary']
data.drop(columns="salary", inplace=True)
data
new_data = data[:1]
new_data

,age,workclass,education,occupation,sex,hours-per-week,country
0,51,Private,HS-grad,Protective-serv,Male,40,United-States

In [35]:
transformed_data = preprocessed_obj.transform(data)

In [36]:
transformed_data

<9769x86 sparse matrix of type '<class 'numpy.float64'>'
	with 68383 stored elements in Compressed Sparse Row format>

In [38]:
y_pred = trained_model.predict(transformed_data)

In [40]:
print(classification_report(target , y_pred))

              precision    recall  f1-score   support

           0       0.84      0.93      0.88      7417
           1       0.66      0.42      0.51      2352

    accuracy                           0.81      9769
   macro avg       0.75      0.68      0.70      9769
weighted avg       0.79      0.81      0.79      9769

In [1]:
from census.components.model_trainer import Model_trainer

In [2]:
from census.config.configuration import configration

In [3]:
config = configration()

In [4]:
config.get_model_trainer_config()

modelTrainerconfig(trained_model_file_path='d:\\ml\\adult_census\\census\\artifact\\model_training\\2022-11-18-15-56-30\\trained_model\\model.pkl', base_accuracy=0.7, model_config_file_path='yaml_config\\model.yaml')

In [1]:
from census.entity.model_factory import Model_training

In [2]:
trainer = Model_training('yaml_config\\model.yaml')

In [3]:
trainer.import_model()

TypeError: import_model() missing 2 required positional arguments: 'module_name' and 'class_name'

In [5]:
path = "D:\\ml\\adult_census\\census\\artifact\\data_transformation\\2022-11-15-19-01-34\\transformed_data\\train\\valid_data.npz"

import numpy as np
train_arr = np.load(path)
x_train = train_arr[:,:-1]
y_train = train_arr[:,-1]

In [6]:
model = trainer.trained_model(input_features=x_train, output_fetures=y_train)

In [10]:
model

LogisticRegression(max_iter=4000, solver='sag')

## classifaction report into csv

In [11]:
import pickle
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

preprocessed_obj = pickle.load(open('D:\\ml\\adult_census\\census\\artifact\\data_transformation\\2022-11-15-19-05-14\\preprocessed\\preprocessed.pkl','rb'))

data = pd.read_csv('D:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-15-19-05-14\\valid_data\\test\\valid_data.csv')
target = data['salary']
data.drop(columns="salary", inplace=True)
data
new_data = data[:1]
new_data

,age,workclass,education,occupation,sex,hours-per-week,country
0,51,Private,HS-grad,Protective-serv,Male,40,United-States

In [13]:
trans_data = preprocessed_obj.transform(new_data)

In [14]:
model.predict(trans_data)

array([0.])

In [16]:
data = preprocessed_obj.transform(data)
y_preds = model.predict(data)
report = classification_report(target, y_preds, output_dict=True)

In [18]:
df = pd.DataFrame(report).transpose()

In [19]:
df

              precision    recall  f1-score      support
0              0.835389  0.931239  0.880714  7417.000000
1              0.660227  0.421344  0.514404  2352.000000
accuracy       0.808476  0.808476  0.808476     0.808476
macro avg      0.747808  0.676291  0.697559  9769.000000
weighted avg   0.793217  0.808476  0.792521  9769.000000

In [1]:
from census.config.configuration import configration

In [2]:
config = configration()

In [3]:
config.get_model_evaluation_config()

modelevaluationconfig(model_evaluation_file_path='d:\\ml\\adult_census\\census\\artifact\\model_evaluation_config\\2022-11-18-17-05-07\\evaluation_report\\evaluation_report_csv')

In [5]:
">>"*20

'>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>'

In [6]:
from census.util.util import load_object
import pickle
path = "D:\\ml\\adult_census\\census\\artifact\\model_training\\2022-11-18-18-19-06\\trained_model\\model.pkl"

model = load_object(path)

In [9]:
lr = model.trained_model_object

In [1]:
from census.config.configuration import configration

In [2]:
config = configration()
config.get_model_evaluation_config()

modelevaluationconfig(model_evaluation_report_dir='d:\\ml\\adult_census\\census\\artifact\\model_evaluation\\2022-11-18-19-20-59\\evaluation_report', model_evaluation_file_path='d:\\ml\\adult_census\\census\\artifact\\model_evaluation\\2022-11-18-19-20-59\\evaluation_report\\evaluation_report.csv')

In [9]:
from census.exception import classificationException
import sys
a = 2

if a == 1:
    print('a')
else :
    raise ValueError('not accepted.')

ValueError: not accepted.

## upload model to s3 bucket

In [3]:
import boto3

In [4]:
AWS_ACCESS_KEY_ID = 'AKIAVEALGMKYBU2EQ344'
AWS_SECRET_ACCESS_KEY = '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'

path = 'D:\\ml\\adult_census\\census\\artifact\\model_training\\2022-11-18-19-31-52\\trained_model\\model.pkl'
session = boto3.Session(
    aws_access_key_id= AWS_ACCESS_KEY_ID,
    aws_secret_access_key= AWS_SECRET_ACCESS_KEY,
)
s3 = session.resource('s3')
# Filename - File to upload
# Bucket - Bucket to upload to (the top level directory under AWS S3)
# Key - S3 object name (can contain subdirectories). If not specified then file_name is used
s3.meta.client.upload_file(Filename= path , Bucket='census-prediction-model', Key='18-11-2022/model.pkl') # '18-11-2022/' if you want to make an folder in which you save the model

## download model from s3 bucket

In [6]:
model = s3.meta.client.download_file('census-prediction-model','18-11-2022/model.pkl','D:\\ml\\adult_census\\model.pkl')

In [26]:
text = f"{'18-11-2020'}/{'model.pkl'}"

In [27]:
text

'18-11-2020/model.pkl'

In [7]:
from census.util.util import upload_model_to_s3

In [9]:
path = 'D:\\ml\\adult_census\\census\\artifact\\model_training\\2022-11-18-19-31-52\\trained_model\\model.pkl'
file = upload_model_to_s3(path)

In [1]:
from census.config.configuration import configration

config= configration()
config.get_model_pusher_config()

modelPusherconfig(saved_model_path='d:\\ml\\adult_census\\saved_model\\2022-11-18-23-02-33')

In [3]:
path = 'D:\\ml\\adult_census\\census\\artifact\\model_training\\2022-11-18-23-36-21\\trained_model\\model.pkl'

In [4]:
import os

In [5]:
os.path.basename(path)

'model.pkl'

In [1]:
import os

In [3]:
root_dir = os.getcwd()

In [9]:
dir =root_dir+"\\saved_model"

In [10]:
os.listdir(dir)[0]

'model.pkl'

In [11]:
file_path = os.path.join(dir,os.listdir(dir)[0])
file_path

'd:\\ml\\adult_census\\saved_model\\model.pkl'

In [12]:
import pandas as pd

In [29]:
fff = pd.read_csv('D:\\ml\\adult_census\\adult.csv')
fff['hours-per-week'].dtype

dtype('int64')

In [16]:
from census.entity import census_predictor

In [18]:
test = census_predictor

In [27]:
data = test.CensusData(age=22,workclass="Private",education="hs-grad",occupation="tech-support",sex='male',hours_per_week=38,country='india')

In [28]:
df = data.get_input_data_as_dataframe()
df

   age workclass education    occupation   sex  hours_per_week country
0   22   Private   hs-grad  tech-support  male              38   india

In [23]:
model = test.CensusPredictor(model_dir='d:\\ml\\adult_census\\saved_model')

In [25]:
model.predict(X = df)

classificationException: Error occured in script: [d:\ml\adult_census\census\entity\census_predictor.py] at line number: [72] error message: ["Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['hours-per-week'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"]

In [48]:
fff.rename({"hours-per-week": "hour_per_week"}, inplace=True, axis=1)
fff

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hour_per_week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [49]:
fff.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hour_per_week', 'country', 'salary'],
      dtype='object')

In [6]:
from census.entity import census_predictor
test = census_predictor
data = test.CensusData(age=22,workclass="State-gov",education="Bachelors",occupation="tech-support",sex='male',hours_per_week=38,country='india')
df = data.get_input_data_as_dataframe()
model = test.CensusPredictor(model_dir='d:\\ml\\adult_census\\saved_model')
model.predict(X=df)

array([0.])

In [4]:
from census.util.util import load_object

In [5]:
model = load_object(file_path='d:\\ml\\adult_census\\saved_model\\model.pkl')

In [5]:
import pandas as pd
data = pd.read_csv('D:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-20-00-40-40\\valid_data\\test\\valid_data.csv')
model.predict(data)

array([0., 0., 0., ..., 1., 1., 0.])

In [10]:
from census.entity import census_predictor
test = census_predictor

In [11]:
model = test.CensusPredictor(model_dir='d:\\ml\\adult_census\\saved_model')

In [18]:
data

,age,workclass,education,occupation,sex,hours_per_week,country,salary
0,51,Private,HS-grad,Protective-serv,Male,40,United-States,1
1,21,Private,Assoc-voc,Adm-clerical,Female,12,United-States,0
2,43,Local-gov,Bachelors,Prof-specialty,Female,48,United-States,0
3,36,Private,Some-college,Machine-op-inspct,Male,48,United-States,0
4,42,Private,Bachelors,Sales,Male,60,United-States,0
...,...,...,...,...,...,...,...,...
9764,40,Private,Bachelors,Sales,Male,40,United-States,0
9765,62,Private,Some-college,Adm-clerical,Female,40,United-States,0
9766,49,Self-emp-not-inc,Some-college,Exec-managerial,Male,60,United-States,0
9767,45,Private,Bachelors,Sales,Male,60,United-States,1
9768,20,Private,Some-college,Tech-support,Female,24,United-States,0

In [12]:
model.predict(X=data)

array([0., 0., 0., ..., 1., 1., 0.])

In [2]:
name = "nitesh"

In [3]:
name.capitalize()

'Nitesh'

In [7]:
data['workclass'].str.lower()

0                 private
1                 private
2               local-gov
3                 private
4                 private
              ...
9764              private
9765              private
9766     self-emp-not-inc
9767              private
9768              private
Name: workclass, Length: 9769, dtype: object

In [22]:
data['education'] = data['education'].str.lower()

In [24]:
data[data['education'].str.contains('hs-grad')]

,age,workclass,education,occupation,sex,hours_per_week,country,salary
0,51,Private,hs-grad,protective-serv,Male,40,United-States,1
8,31,Private,hs-grad,other-service,Female,8,United-States,0
9,65,Private,hs-grad,adm-clerical,Male,20,United-States,0
12,48,Self-emp-inc,hs-grad,craft-repair,Male,50,United-States,1
14,34,Private,hs-grad,craft-repair,Male,45,United-States,0
...,...,...,...,...,...,...,...,...
9748,79,?,hs-grad,?,Female,30,United-States,0
9751,69,Private,hs-grad,transport-moving,Male,40,United-States,0
9757,40,Private,hs-grad,transport-moving,Male,35,United-States,0
9759,22,Private,hs-grad,other-service,Female,35,United-States,0
9763,27,Private,hs-grad,transport-moving,Male,35,United-States,0

In [29]:
for i in data:
    if data[i].dtype == str:
        data [i] = data[i].str.lower()

In [30]:
data

,age,workclass,education,occupation,sex,hours_per_week,country,salary
0,51,Private,hs-grad,protective-serv,Male,40,United-States,1
1,21,Private,assoc-voc,adm-clerical,Female,12,United-States,0
2,43,Local-gov,bachelors,prof-specialty,Female,48,United-States,0
3,36,Private,some-college,machine-op-inspct,Male,48,United-States,0
4,42,Private,bachelors,sales,Male,60,United-States,0
...,...,...,...,...,...,...,...,...
9764,40,Private,bachelors,sales,Male,40,United-States,0
9765,62,Private,some-college,adm-clerical,Female,40,United-States,0
9766,49,Self-emp-not-inc,some-college,exec-managerial,Male,60,United-States,0
9767,45,Private,bachelors,sales,Male,60,United-States,1
9768,20,Private,some-college,tech-support,Female,24,United-States,0

In [33]:
from census.util.util import read_yaml_file
from census.constant import *

In [32]:
yaml = read_yaml_file('D:\\ml\\adult_census\\yaml_config\\schema.yaml')

In [36]:
for feature in yaml[CATEGORICAL_COLUMNS]:
    print(feature)

workclass
education
occupation
sex
country

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('D:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-21-16-05-18\\valid_data\\test\\valid_data.csv')
data

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\ml\\adult_census\\census\\artifact\\data_validation\\2022-11-21-16-05-18\\valid_data\\test\\valid_data.csv'

In [6]:
data['workclass'].value_counts()

 private             6860
 self-emp-not-inc     757
 local-gov            595
 ?                    561
 state-gov            383
 self-emp-inc         326
 federal-gov          285
 never-worked           1
 without-pay            1
Name: workclass, dtype: int64

In [3]:
data['occupation'].value_counts()

 craft-repair         1237
 exec-managerial      1210
 prof-specialty       1201
 adm-clerical         1190
 sales                1078
 other-service        1018
 machine-op-inspct     583
 ?                     562
 transport-moving      479
 handlers-cleaners     379
 farming-fishing       322
 tech-support          291
 protective-serv       183
 priv-house-serv        33
 armed-forces            3
Name: occupation, dtype: int64

In [1]:
from kaggle.api.kaggle_api_extended import  KaggleApi
import json

In [21]:
with open("kaggle.json","r") as file:
    api_token = json.load(file)

In [23]:
api_token['username']

'nitesh8527'

In [24]:
api_token['key']

'da124ac323484cd47a564e8063c4f895'

In [29]:
api = KaggleApi()
api.authenticate()
api.dataset_download_file('overload10/adult-census-dataset',
                         file_name='adult.csv',path="D:\\ml\\adult_census")

True

In [25]:
import os

In [26]:
os.getcwd()

'd:\\ml\\adult_census'

In [30]:
import kaggle

In [32]:
!cp 'D:\ml\adult_census\kaggle.json' '\D:\'

SyntaxError: invalid syntax (3647955250.py, line 1)

In [34]:
from kaggle.api.kaggle_api_extended import  KaggleApi

In [35]:
api = KaggleApi()

In [ ]:
api.authenticate()